# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/
env/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Data artifacts
data/raw/*
data/interim/*
data/processed/*
!data/**/.gitkeep

# Models & reports
models/**/*
!models/**/.gitkeep
reports/figures/*
reports/metrics/*
!reports/**/.gitkeep

# OS
.DS_Store
